<%= form_tag login_path, method: "post" do %>
  <p>
    <label>Username</label>
    <input type="text" name="input"/>
  </p>
  <p>
    <input type="submit" value="Login"/>
  </p>
<% end %>
<a href="/signup">
  <button type="submit" name="button">Signup</button>
</a>
