<!-- For admin to create new flight -->

<!-- render admin_menu -->

<input id="flight_num" type="text" name="" value="">
<input id="flight_date" type="text" name="" value="">
<input id="flight_dept" type="text" name="" value="">
<input id="flight_dest" type="text" name="" value="">
<input id="flight_plane" type="text" name="" value="">

<button id="flight_submit" type="button" name="button">Save</button>

<script id="FlightsListTemplate" type="text/template">
  <!-- Template show data of each flight -->
</script>
