<!-- For user to search for desired flight  -->

<!-- render customer_menu -->
<div id="flightSearch"></div>

<script id="flightSearchTemplate" type="text/template">
  <input id="search_dept" type="text" name="" value="">
  <input id="search_dest" type="text" name="" value="">

  <button id="search_submit" type="button" name="button">Search</button>

  <h2>Flight Search Results</h2>

  <div id="flightsList"></div>

</script>

<script id="flightsListTemplate" type="text/template">
  <!-- Template show data of each flight that matches search inputs -->
  {{ _.each(models, function(flight){ }}
    <div class="container">
      <div class="search_flight_date">
        {{= flight.get("date") }}
      </div>
      <div class="search_flight_name">
        {{= flight.get("flight_name") }}
      </div>
      <div class="search_flight_direction">
        {{= flight.get("destination") }} -> {{= flight.get("departure") }}
      </div>
      <div class="search_plane_name">
        plane_name
        <!-- {{= flight.get("plane_id") }} ????? -->
        <!-- Find a way to get plane_id from flight -->
      </div>
      <hr>
    </div>
  {{ }) }}
</script>

<!-- ================================================================================ -->

<div id="seatSelection"></div>

<script id="seatSelectionTemplate" type="text/template">
  <!-- Template show data of each flight that matches search inputs -->
  <div>Reservation stuff</div>
  <button id="reservationSubmit">Select Seat</button>
</script>
