<!-- For user to search for desired flight  -->

<!-- render customer_menu -->
<div id="flightSearch"></div>

<script id="flightSearchTemplate" type="text/template">
  <input id="search_dept" type="text" name="" value="">
  <input id="search_dest" type="text" name="" value="">

  <button id="search_submit" type="button" name="button">Search</button>

  <h2>Flight Search Results</h2>

  <div id="flightsList"></div>

</script>

<script id="flightsListTemplate" type="text/template">
  <!-- Template show data of each flight that matches search inputs -->
  {{ _.each(models, function(flight){ }}
    <div class="flight_item" id= {{= flight.get("id") }}>
      <div class="search_flight_date">
        {{= flight.get("date") }}
      </div>
      <div class="search_flight_number">
        {{= flight.get("flight_number") }}
      </div>
      <div class="search_flight_direction">
        {{= flight.get("departure") }} -> {{= flight.get("destination") }}
      </div>
      <div class="search_plane_name">
        plane_name
        <!-- {{= flight.get("plane_id") }} ????? -->
        <!-- Find a way to get plane_id from flight -->
      </div>
      <hr>
    </div>
  {{ }) }}

  <div id="seatSelection"></div>
</script>

<!-- ================================================================================ -->



<script id="seatSelectionTemplate" type="text/template">
  <!-- Template show data of each flight that matches search inputs -->
  <div>Seat 1</div>
  <div>Seat 2</div>
  <div>Seat 3</div>
  <div>Seat 4</div>
  <div>Seat 5</div>

  <button id="reservationSubmit">Select Seat</button>

</script>
