<!-- Show seats status of the flight (flights/:flight_id) -->

<!-- render customer_menu -->

<!-- header contains flight details -->

<script id="ReservationsTemplate" type="text/template">
  <!-- Template show data of each flight that matches search inputs -->
</script>

<!-- div display currently selected available seat -->
<button id="reservation_submit" type="button" name="button">Select Seat</button>
