<!-- For Admin to create new airplane -->

<!-- render admin_menu -->

<input id="plane_name" type="text" name="" value="">
<input id="plane_row" type="text" name="" value="">
<input id="plane_col" type="text" name="" value="">

<button id="plane_submit" type="button" name="button">Save</button>

<script id="AirplanesListTemplate" type="text/template">
  <!-- Template show data of each airplane -->
</script>
