.seats {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-block;
}

#summary_display {
  float: right;
  display: none;
}

.menu_item {
  display: inline-block;
  border: 1px solid black;
  height: 20px;
  width: 25%;
}
